<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/css/styles.css" rel="stylesheet" type="text/css" />
    <title>Toy Troppers</title>
  </head>

  <body>
    <div class="super-container">
      <header class="header-container">
        <div class="logo">Logo of app</div>
      </header>
      <!-- ------------------------------------------------------- -->
      <div class="main-content">
        <div class="sidebar">
          <nav>
            <ul>
              <li><a href="/category" class="<%= content === 'category_page' ? 'active' : '' %>">Category</a></li>
              <li>
                <a href="/products" class="<%= content === 'products_page' || content === 'product_details_page' ? 'active' : '' %>">
                  <%= content === 'product_details_page' ? 'Product' : 'Products' %>
                </a>
              </li>
              <li><a href="/users">User</a></li>
            </ul>
          </nav>
        </div>

        <div class="content">
          <% if (content === 'category_page') { %> <%- include('category_page') %> <% } else if (content === 'products_page') { %> <%- include('products_page')
          %> <% } else if (content === 'product_details_page') { %> <%- include('product_details_page') %> <% } else { %>
          <p><%= content %></p>
          <% } %>
        </div>
      </div>
      <!-- ------------------------------------------------------- -->
      <footer class="footer-container">
        <p>&copy; 2024 My App</p>
      </footer>
    </div>
  </body>
</html>
